body {
    background-color: rgb(58, 58, 58);
}
p {
    font-family: "Libre Baskerville";
    color: white;
}
h1 {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 800;
    color: white;
}
a {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 500;
    color: white;
}