body {
    background-color: rgb(58, 58, 58);
}
p {
    font-family: "Libre Baskerville";
    color: white;
    border: 3px  cornflowerblue;
    padding: 10px;
    margin: 1px;
    background-color: rgb(171, 171, 189);
    text-align: center;
}
h2 {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 800;
    color: palevioletred;
    text-decoration: underline;
    text-align: center;
}
h1 {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 650;
    color: white;
    text-align: center;
}
a {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 500;
    color: white;
    text-align: center;
}
img {
    border-radius: 30%;
}
.head {
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: palevioletred;
  }
